{
  "all": true,
  "sourceMap": false,
  "instrument": false,
  "include": [
    "src"
  ],
  "check-coverage": true,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": "html",
  "extension": [
    ".js"
  ]
}
